// SCSS is enalbed, toggle it off if required

$border-color: #aaa;

#container {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #afcdff;
  border: solid 15px $border-color;
  overflow: auto;
}

.description {
  white-space: pre;
  padding: 20px;
  border-bottom: $border-color 3px dashed;
  font-weight: 700;
  color: #505050;
  font-size: 1.1em;
  div {
    margin: auto;
    width: 600px;
  }
}

.preview {
  text-align: center;
  padding: 20px;
  border-top: $border-color 3px dashed;
  .preview-title {
    position: relative;
    top: 10px;
    font-weight: 800;
    color: #5a7a88;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 22px;
  }
}

.collection {
  flex: 1;
  border: solid 3px #09c;
  background: #fff;
  margin: 50px auto;
  max-width: 600px;
}

.item-list {
}

.item {
  padding: 4px;
  cursor: move;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  & + & {
    border-top: dotted 1px #aaa;
  }
  &:hover {
    background-color: rgb(196, 238, 255);
  }
  &:hover + & {
    border-top: solid 1px #000;
  }
  &:hover:not(:first-child) {
    border-top: solid 1px #000;
  }
  transition: height 300ms;
}

.drop-action-zone {
  display: flex;
  border-top: solid 2px #09c;
  div {
    flex: 1;
    padding: 5px;
    text-align: center;
    cursor: default;
    & + div {
      border-left: dotted 1px #aaa;
    }
  }
}
